<audio #player>
	<source #playerSource [src]="track.src" type="audio/mp3"/>
	Your browser does not support the audio tag.
</audio>

<div class="controls">
	<div class="controls_plays">

		<svg id="prev_btn" viewBox="0 0 24.5 23.6" (click)="changeTrack(changeActions.Previous)">
			<polygon points="0,11.8 13.5,0 13.5,10.7 24.5,0 24.5,23.6 13.5,12.9 13.5,23.6 "/>
		</svg>

		<svg id="plays_btn" viewBox="0 0 24.5 30.9" (click)="updatePlayingState()">
			<g *ngIf="player.paused" id="play_btn">
				<path d="M0,30.9L0,0l24.5,15.4L0,30.9z"/>
			</g>
			<g *ngIf="!player.paused" id="pause_btn">
				<rect x="0" y="0" width="8.2" height="30.9"/>
				<rect x="16.2" y="0" width="8.2" height="30.9"/>
			</g>
		</svg>

		<svg id="next_btn" viewBox="0 0 24.5 23.6" (click)="changeTrack(changeActions.Next)">
			<polygon points="25,11.8 11.5,0 11.5,10.7 0.5,0 0.5,23.6 11.5,12.9 11.5,23.6 "/>
		</svg>

	</div>
</div>
