<div class="player">
	<section class="artist">
		<img class="artistPicture" [src]="currentTrack.img">
		<h1 class="artistName">{{ currentTrack.artist }}</h1>
	</section>

	<section class="controls">
		<app-player-audio [track]="currentTrack"></app-player-audio>
	</section>

	<section class="tracklist">
		<button class="track" *ngFor="let track of playlist" (click)="changeTrack(track)">
			{{ track.name }}
			<span *ngIf="currentTrack === track" class="waves"></span>
		</button>
	</section>
</div>
