.player {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 0.2rem;

	.artist {
		width: 100%;
		text-align: center;

		.artistPicture {
			object-fit: scale-down;
			width: 100%;
			height: 15rem
		}

		.artistName {
			background-color: pink;
			border-radius: 50%;
			padding: 0.1rem 0.1rem;
		}
	}


	.tracklist {
		width: 100%;
		bottom: 0;
	}
}
