<div class="player">
	<section class="artist">
		<img class="artistPicture" [src]="currentTrack.img" alt="Artist picture">
		<h1 class="artistName">{{ currentTrack.artist }}</h1>
	</section>

	<section class="controls">
		<app-player-audio [track]="currentTrack" (onTrackChange)="changeTrackFromAction($event)"></app-player-audio>
	</section>

	<section class="tracklist">
		<button
			class="track"
			*ngFor="let track of playlist, let i = index"
			[ngClass]="{ 'playing': currentTrack === track }"
			(click)="changeTrack(i)"
		>
			{{ track.name }}
			<span *ngIf="currentTrack === track && !playerAudio?.player?.paused" class="waves"></span>
		</button>
	</section>
</div>
