<div class="player">
	<section class="artist">
		<img class="artistPicture" [src]="currentTrack.img" alt="Artist picture">
		<h1 class="artistName">{{ currentTrack.artist }}</h1>
	</section>

	<section class="controls">
		<app-player-audio [track]="currentTrack" (onTrackChange)="changeTrackFromAction($event)"></app-player-audio>
	</section>

	<section class="tracklist">
		<app-track-list
			[tracklist]="playlist"
			[currentTrackIndex]="currentTrackIndex"
			[isPlaying]="!playerAudio?.player?.paused"
			(onTrackSelection)="changeTrack($event)"
		></app-track-list>
	</section>
</div>
