/* You can add global styles to this file, and also import other style files */

body {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: skyblue;
}

main {
	border: 4px solid pink;
	width: 320px;
	height: 568px;
}
